*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}


.contact {
  margin-top: 80px ;
  padding: 20px  50px 0 50px ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height:494px;
  width:100%;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 10px 0;
    color: #B498B9;

span{
  color:#3F3541;;
}
  }
  p {
    font-weight: 200;
    font-size: 24px;
    margin: 10px 0;
  }
}
.rightImg {
  width: 454px;
}

.contact-1 p{
  width:497px;
  height:96px;
  font-size:20px;
  font-weight:500;
  color:#707176;
}

.form-1{
  padding-top:40px;
  display:flex;
  justify-content: center;
  margin: 80px auto;
  width:90%;
  height:820px;
  border:1px solid #B498B9;
  border-radius:16px;
  from{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;align-items: center;
  }
  form :first-child{
    margin-top: 106px;
  }
  input,
  textarea{
      margin-bottom: 33px;
      margin-left: calc(10%);
      width: 80%;
      padding: 24px;
      border: none;
      outline: none;
      border:1px solid #B498B9;
      border-radius: 9px;
      color: #4F4351;
      font-size: 28px;
      font-weight:bold;
      background-color: transparent;
  }
}

.btn{
  margin-top:40px;
  margin-left:35%;
  width:466px;
  height:96px;
  background-color:#B498B9;
  border:none;
  border-radius:6px;
  font-weight:bold;
  font-size:22px;
  color:white;
  cursor:pointer;
  transition: 0.5s ease;
}
.btn:hover{
  background-color: #3F3541;
  transform: scale(1.1);
}






@media only screen and  (max-width: 768px) {
  .contact {
    margin-top: 280px;
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: space-around;
    height: 494px;
    width: 100%;
}
p {
    margin: 20px 0  !important;
    width: 600px !important;
    position: relative;
    left: -90px;
    text-align: center !important;
}

form{
  display: flex;;
  flex-direction: column;
  align-items: center;
  padding: 10px !important;
}
input, textarea {
    width: 600px !important;
    margin:20px 0 !important;
}
.btn {
    margin: 40px auto;
}
}